.Profile {
  height: 100vh;
  background: black;

  h2 {
    color: white;
  }

  header {
    padding-top: 20px;
    .page-width {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  .profile-menu {
    display: flex;
    flex-direction: column;
    border: solid 1px rgb(54, 54, 54);
    flex: 0.2;

    a {
      border-bottom: solid 1px rgb(54, 54, 54);
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 12px;
    }
  }

  main {
    margin-top: 50px;

    .page-width {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  h3 {
    color: white;
    font-weight: normal;
    margin-bottom: 8px;
  }

  form {
    width: 100%;
    max-width: 500px;

    .form-row{
        margin-bottom: 20px;
    }
    
    input {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 12px;
      width: 100%;
      margin-bottom: 12px;
      background: #1f1f1f;
      border: solid 1px #313131;
      border-radius: 3px;
      color: white;
    }

    p{
        color:lightgray;
    }
  }
}
