.main-header {
  background: #000;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;

  .page-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h3 {
    color: white;
  }

  nav {
    display: flex;
    align-items: center;
    position: relative;

    .profile-menu {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      border-radius: 5px;
      background: #1f1f1f;
      display: none;
      display: flex;
      position: absolute;
      right: 0;
      top: 40px;
      display: none;
    }

    a {
      font-size: 14px;
      color: white;
      padding: 16px;
    }
    

    .profile-circle-container {
      position: relative;
      &:hover {
        .profile-menu {
          display: flex;
        }
      }
      .profile-circle {
        background: lightgray;
        min-height: 30px;
        min-width: 30px;
        max-width: 30px;
        max-height: 30px;
        border-radius: 90000px;
      }

      a {
        font-size: 14px;
        &:hover {
          background-color: brown;
        }
      }
    }
  }
}
